saveplace
ac-comphist.dat
tramp
*.pyc
semanticdb
elpa
.places
*.elc
url
bookmarks
projectile-bookmarks.eld
/auto-save-list/
/request/
.python-auto-import-cache
projectile.cache
games
/var
irony/
/savehist
/network-security.data
flycheck_*
.emacs-custom.el
/.python-environments