[submodule "modes/yasnippet"]
	path = modes/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "modes/ace-jump-mode"]
	path = modes/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "modes/drag-stuff"]
	path = modes/drag-stuff
	url = https://github.com/rejeep/drag-stuff.git
[submodule "modes/auto-complete"]
	path = modes/auto-complete
	url = http://cx4a.org/repo/auto-complete.git/
