[submodule "modes/yasnippet"]
	path = modes/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "modes/ace-jump-mode"]
	path = modes/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "modes/drag-stuff"]
	path = modes/drag-stuff
	url = https://github.com/rejeep/drag-stuff.git
[submodule "modes/auto-complete"]
	path = modes/auto-complete
	url = http://cx4a.org/repo/auto-complete.git/
[submodule "modes/nxhtml-mode"]
	path = modes/nxhtml-mode
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "modes/smex"]
	path = modes/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "modes/magit"]
	path = modes/magit
	url = https://github.com/magit/magit.git
[submodule "modes/org-mode"]
	path = modes/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "modes/nyan-mode"]
	path = modes/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule "modes/virtualenv"]
	path = modes/virtualenv
	url = https://github.com/aculich/virtualenv.el.git
[submodule "modes/anything"]
	path = modes/anything
	url = git://repo.or.cz/anything-config.git
[submodule "utils/pylookup"]
	path = utils/pylookup
	url = https://github.com/tsgates/pylookup.git

[submodule "modes/ghc-mod"]
	path = modes/ghc-mod
	url = https://github.com/kazu-yamamoto/ghc-mod.git
[submodule "modes/expand-region"]
	path = modes/expand-region
	url = https://github.com/magnars/expand-region.el.git
